#balance , #projected {
  font-size: 400%;
}

h1 {
  font-family: impact;
  font-size: 40px;
  text-align: center;
}

.jumbotron {
  background-image: url(http://previews.123rf.com/images/fabian19/fabian191204/fabian19120400014/13278449-Money-stack-Stock-Photo-money-stacks-cash.jpg);
  color: green;
  text-shadow: 4px 4px black;
}
