#balance , #projected {
  font-size: 400%;
}

body {
  background-color: black;
}

.container {
  background-color: lightblue;
  height: 1000px;
}

h1 {
  font-family: impact;
  text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
}

h2 {
  text-decoration: underline;
}

.jumbotron {
  background-image: url(http://previews.123rf.com/images/fabian19/fabian191204/fabian19120400014/13278449-Money-stack-Stock-Photo-money-stacks-cash.jpg);
  color: green;
  text-shadow: 4px 4px black;
  padding: 100px;
  margin-top: 10px;
  border: 5px solid black;
}

#projected {
  margin-top: 20px;
  display: none;
}

#current-balance {
  display: none;
}
